---
import { Image } from 'astro:assets';
import Card from '../../components/Card/Card.astro';
import styles from './EventsWrapper.module.css';
import { getCollection } from 'astro:content';
import ME from '../../../public/me.png';
import Layout from '../ComponentsLayout/Layout.astro';
const events = (await getCollection('events')) || [];
const { frontmatter } = Astro.props;
---

<Layout>
  <div class={styles['events-wrapper']}>
    <Image
      format="avif"
      class={styles['image']}
      src={ME}
      alt={frontmatter.title}
      width={600}
      height={550}
    />
    <div class={styles['text']}>
      <slot />
    </div>
    <div class={styles['events-message']}>
      {
        events.length > 0 ? (
          events.map(
            (event) =>
              event && (
                <Card
                  id={event.data.id}
                  fullOrRlativeRedirect="full"
                  tags={event.data.tags}
                  link={event.data.link}
                  mainTitle={event.data.about}
                  secondTitle={`${event.data.date} - ${event.data.time}`}
                  thirdTitle={event.data.where}
                  mainImage={event.data.image}
                />
              ),
          )
        ) : (
          <p>There are no events planned soon</p>
        )
      }
    </div>
  </div>
</Layout>
