---
import type { CollectionEntry } from "astro:content";
import Layout from "../../layouts/ComponentsLayout/Layout.astro";
import Card from "../Card/Card.astro";
import styles from "./BlogList.module.css";

type Props = {
  blogs: CollectionEntry<"blogs">[];
};
const { blogs } = Astro.props;
const sortedBlogs = blogs.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---

<Layout>
  <div class={styles["blog-container"]}>
    <ul class={styles["blog-list"]}>
      {
        sortedBlogs.map((blog) => (
          <Card
            id={blog.data.id}
            fullOrRlativeRedirect="relative"
            mainImage={blog.data.image}
            mainTitle={blog.data.title}
            secondTitle={`Written by: ${blog.data.author}`}
            link={`/blogs/${blog.slug}`}
            tags={blog.data.tags}
            authorImage={blog.data.authorImage}
          />
        ))
      }
    </ul>
  </div>
</Layout>
