---
import styles from "./Icon.module.css";
import { Image } from "astro:assets";

type Props = {
  link: string;
  image: ImageMetadata;
  alt: string;
};

const { link, image, alt } = Astro.props;
---

<div class={`${styles.icon} `}>
  <a href={link}> <Image class={styles.image} src={image} alt={alt} /></a>
</div>
