---
import { ColorModeButton } from '../ColorModeButton/ColorModeButton';
import styles from './Header.module.css';
let currentPath = Astro.url.pathname;
---
<header class={styles["header"]}>
  <input type="checkbox" id="menu-toggle" class={styles.menuToggle} />
  <label for="menu-toggle" class={styles.hamburger}>&#9776;</label>
  <nav class={styles.menu}>
    <label for="menu-toggle" class={styles.menuClose}>&#10005;</label>
    <ul class={`${styles["link-list"]}`}>
      <a
      href="/"
      class={`${styles.link} ${currentPath === '/' ? styles.active : ''}`}
      ><li>Home</li></a
      >
      <a
      href="/blogs"
      class={`${styles.link} ${
        currentPath.includes('/blog') ? styles.active : ''
      }`}><li>Blog</li></a
    >
    <a
    href="/events"
    class={`${styles.link} ${
      currentPath.includes('/events') ? styles.active : ''
    }`}><li>Events</li></a
    >
  </ul>
  </nav>
</header>
