---
import styles from "./Blog.module.css";
import { Image } from "astro:assets";
import Layout from "../../layouts/ComponentsLayout/Layout.astro";
import BlogInteractionManager from "../BlogInteractionManager/BlogInteractionManager";
const baseUrl = import.meta.env.PUBLIC_BASE_URL;

type BlogProps = {
  title: string;
  image: ImageMetadata;
  author: string;
  tags: string[];
};
interface CommentableBlogProps extends BlogProps {
  id: string;
  commentable: boolean;
}

type Props = CommentableBlogProps | BlogProps

const { title, image, author, tags } = Astro.props;
const id = (Astro.props as CommentableBlogProps).id; 
const commentable = (Astro.props as CommentableBlogProps).commentable; 


---

<Layout>
  <article class={styles.card}>
    <Image
      class={styles["card-img"]}
      src={image}
      alt={title}
    />
    <h2 class={styles["card-title"]}>{title}</h2>
    <p class={styles["card-author"]}>By {author}</p>
    <ul class={styles["card-tags"]}>
      {tags.map((tag) => <li class={styles.tag}>#{tag}</li>)}
    </ul>
    <div class={styles["card-body"]}>
      <slot />
    </div>
  </article>
  {
    commentable && <BlogInteractionManager baseUrl={baseUrl} id={id} client:only="react"/>
  }
</Layout>
