---
import styles from './Blog.module.css';
import { Image } from 'astro:assets';
import Layout from '../../layouts/ComponentsLayout/Layout.astro';
import BlogInteractionManager from '../BlogInteractionManager/BlogInteractionManager';

type BlogProps = {
  title: string;
  image: ImageMetadata;
  author: string;
  date: string;
  tags: string[];
};
interface CommentableBlogProps extends BlogProps {
  id: string;
  commentable: boolean;
}

type Props = CommentableBlogProps | BlogProps;

const { title, image, author, tags, date } = Astro.props;
const id = (Astro.props as CommentableBlogProps).id;
const commentable = (Astro.props as CommentableBlogProps).commentable;

const transitionName = title
  .replace(/[^a-zA-Z\s]/g, '')
  .replace(/\s/g, '-')
  .toLowerCase();
console.log(transitionName);
---

<Layout>
  <article class={styles.card}>
    <Image
      format="avif"
      transition:name={transitionName}
      class={styles['card-img']}
      src={image}
      alt={title}
      width={600}
      height={450}
    />
    <h2 class={styles['card-title']}>{title}</h2>
    <p class={styles['card-author']}>By {author}</p>
    <p class={styles['card-author']}>{date}</p>
    <ul class={styles['card-tags']}>
      {tags.map((tag) => <li class={styles.tag}>#{tag}</li>)}
    </ul>
    <div class={styles['card-body']}>
      <slot />
    </div>
  </article>
  {
   commentable && <BlogInteractionManager id={id} client:load />

  }
</Layout>
